---
layout: page
title: Publications
header: Posts By filtered by publications
group: navigation
---
TODO
Hier findest du mein Portfolio. Es ist sortiert nach Projekten im Rahmen meiner Berufslaufbahn, meines Studiums und meiner Freizeit.<br>
Die Seite ist noch im Aufbau, von daher kann Inhalt fehlen.

<h2>Berufserfahrung</h2>
<div class="row">
  {% for post in site.posts %}
  {% if post.tags contains 'portfolio' and post.tags contains 'work' %}
  {% include portfolio_item.html post=post %}
  {% endif %}
  {% endfor %}
</div>

<h2>Studium</h2>
<div class="row">
  {% for post in site.posts %}
  {% if post.tags contains 'portfolio' and post.tags contains 'study' %}
  {% include portfolio_item.html post=post %}
  {% endif %}
  {% endfor %}
</div>

<h2>Freie Projekte</h2>
<div class="row">
  {% for post in site.posts %}
  {% if post.tags contains 'portfolio' and post.tags contains 'freetime' %}
  {% include portfolio_item.html post=post %}
  {% endif %}
  {% endfor %}
</div>
