{% assign coverSize = {{post.cover | size}} %}
{% assign cover = post.cover %}
{% if coverSize == 0%}
    {% assign cover = 'assets/images/covers/dummy-project.png' %}
{% endif %}

{% assign target = '' %}
{% if post.direct_link %}
    {% assign target = '_blank' %}
    {% assign url = post.direct_link %}
{% else %}
    {% assign url = post.url %}
{% endif %}

<div class="portfolio-item-wrapper col-xs-12 col-md-3 col-sm-12 col-xl-3">
    <a href="{{ url }}" target="{{target}}">
        <div class="portfolio-item">
            <div class="portfolio-head" style="background-image:url({{cover}});"></div>
            <div class="portfolio-body">
                <div class="portfolio-title">{{ post.title }}</div>
                <div class="portfolio-descrition"><span class="date">Stand: {{ post.date | date: "%d.%m.%Y"  }}</span></div>
            </div>
        </div>
    </a>
</div>