---
import Card from '../Card.astro'
import { Badge } from '../ui/badge'
---

<Card colSpan="md:col-span-2 lg:col-span-1" rowSpan="md:row-span-2 lg:row-span-2" title="Skills">
  <div class="mt-2 space-y-4">
    <div class="flex flex-col gap-2">
      <h3 class="text-sm font-semibold text-muted-foreground">Kernkompetenz</h3>
      <div class="flex w-full flex-wrap items-center justify-center gap-2">
        <Badge variant="outline">XR Dev</Badge>
        <Badge variant="outline">Learning Analytics</Badge>
        <Badge variant="outline">Web Dev</Badge>
        <Badge variant="outline">Apps</Badge>
        <Badge variant="outline">SaaS</Badge>
        <Badge variant="outline">Virtual und Augmented Reality</Badge>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <h3 class="text-sm font-semibold text-muted-foreground">Tech-Stack</h3>
      <div class="flex w-full flex-wrap items-center justify-center gap-2">
        <Badge variant="outline">Unity</Badge>
        <Badge variant="outline">UaaL</Badge>
        <Badge variant="outline">C#/.NET</Badge>
        <Badge variant="outline">React</Badge>
        <Badge variant="outline">Angular</Badge>
        <Badge variant="outline">Vue</Badge>
        <Badge variant="outline">MAUI</Badge>
        <Badge variant="outline">Flutter</Badge>
        <Badge variant="outline">xAPI</Badge>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <h3 class="text-sm font-semibold text-muted-foreground">Dienstleistungen</h3>
      <div class="flex w-full flex-wrap items-center justify-center gap-2">
        <Badge variant="outline">individuelle Lösungen</Badge>
        <Badge variant="outline">Tech Lead</Badge>
        <Badge variant="outline">Workshops</Badge>
        <Badge variant="outline">Beratung</Badge>
        <Badge variant="outline">Migrationen</Badge>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <h3 class="text-sm font-semibold text-muted-foreground">Sprachen</h3>
      <div class="flex w-full flex-wrap items-center justify-center gap-2">
        <Badge variant="outline">Deutsch (Muttersprache)</Badge>
        <Badge variant="outline">English (verhandlungssicher)</Badge>
        <Badge variant="outline">Russisch (Muttersprache)</Badge>
      </div>
    </div>
  </div>
</Card>

