<footer class="border-t py-6 md:px-8 md:py-0">
  <div class="container flex flex-col items-center justify-between gap-4 md:h-24 md:flex-row">
    <p class="text-center text-sm leading-loose text-muted-foreground md:text-left">
      Dr. des. Sergej Görzen | Senior Software Engineer für komplexe Systeme, Architektur und technische Produktumsetzung
      <br />
      <a class="font-medium underline underline-offset-4" href="/impressum">Impressum</a>
    </p>
  </div>
</footer>
