@import "_helpers/mixins";

#root {
  margin: 0 auto;
  text-align: center;
}

.App {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

main {
  position: relative;
  text-align: left;

  background: #FFF;
  z-index: 5;

  max-width: 1130px;

  margin: -64px auto 0;

  @include box-shadow(0 0 20px rgba(0, 0, 0, 0.2));
}

#container {
  min-height: 600px;
}
